* {
     margin: 0;
     padding: 0;
}

body{
     position: fixed;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     background: no-repeat center center fixed;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
}
#loader {
     border: 16px solid #f3f3f3; /* Light grey */
     border-top: 16px solid #3498db; /* Blue */
     border-radius: 50%;
     width: 120px;
     height: 120px;
     animation: spin 2s linear infinite;
   }
   
   @keyframes spin {
     0% { transform: rotate(0deg); }
     100% { transform: rotate(360deg); }
   }
   

.info{
     position: fixed;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
}
.location-timezone{
     position: fixed;
     top:20px;
     left:10px;
}

.exact-location,
.temperature{
     position: fixed;
     left: 50%;
     transform: translateX(-50%);
}

.exact-location{
     margin-top:50px;
}

.degree-section{
     display:flex;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card { 
     height:50vh;
     width:40vh;
     perspective: 1000px; /* Remove this if you don't want the 3D effect */
   }
   
   /* This container is needed to position the front and back side */
   .flip-card-inner {
     position: relative;
     width: 100%;
     height: 100%;
     text-align: center;
     transition: transform 0.8s;
     transform-style: preserve-3d;
   }
   
   /* Do an horizontal flip when you move the mouse over the flip box container */
   .flip-card:hover 
   .flip-card-inner {
     transform: rotateY(180deg);
   }
   
   /* Position the front and back side */
   .flip-card-front, .flip-card-back {
     position: absolute;
     width: 100%;
     height: 100%;
     -webkit-backface-visibility: hidden; /* Safari */
     backface-visibility: hidden;
   }
   
   /* Style the front side (fallback if image is missing)*/ 
   .flip-card-front,.flip-card-back {
     background: rgba( 255, 255, 255, 0.10 );
     border-radius: 10px;
     box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
     backdrop-filter: blur( 3.0px );
     -webkit-backdrop-filter: blur( 3.0px );
     color: white;
   }
   
   /* Style the back side */ 
   .flip-card-back {
     transform: rotateY(180deg);
   }

   .desc{
        display:flex;
   }
   .separator{
        margin:5px;
   }
   #three-day-data{
        margin:5px;
   }